body{
    background-color: #ebebeb;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 50px;
    padding-top: .5em;
	padding-bottom: .5em;
	background-color: #14204b;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.title-box{
    margin-left: 50px;
    padding: 30px;
    border: 1px solid rgb(150, 42, 42);
    background-color: rgb(150, 42, 42);
}
.title{
    color: white;
    
}
.back{
    margin-right: 50px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(150, 42, 42);
    background-color: rgb(150, 42, 42);
    border-radius: 15px;
    padding: 7px 15px;
}
hr{
    margin-left: 60px;
    margin-right: 60px;
}
.user-text{
    margin-left: 40px;
    margin-right: 40px;
}
.full-name{
    margin-bottom: 5px;
}
.username{
    margin-bottom: 5px;
}
.address-text{
    margin-left: 40px;
    margin-right: 40px;
}
.address1{
    margin-bottom: 5px;
}
.address2{
    margin-bottom: 5px;
}
.city{
    margin-bottom: 5px;
}
.state{
    margin-bottom: 5px;
}
.country{
    margin-bottom: 5px;
}
.zip{
    margin-bottom: 5px;
}
.update{
    margin-bottom: 5px;
}
.account-text{
    margin-left: 40px;
    margin-right: 40px;
}
