body{
    background-color: #ebebeb;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 50px;
    padding-top: .5em;
	padding-bottom: .5em;
	background-color: #14204b;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
h1{
    margin-left: 20px;
}
.title-box{
    margin-left: 50px;
    padding: 30px;
    border: 1px solid rgb(150, 42, 42);
    background-color: rgb(150, 42, 42);
}
.title{
    color: white;
    
}
.back{
    margin-right: 50px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(150, 42, 42);
    background-color: rgb(150, 42, 42);
    border-radius: 15px;
    padding: 7px 15px;
}
/* .user-info-container{
    opacity: .95;
    width: 600px;
	background-color: #ffffff;
	box-shadow: 0px 0px 3px 0px rgba(116, 116, 116, 0.75);
	border-radius: 4px;
    padding: 10px; 
    margin-top: 30px;
    margin-bottom: 30px;
} */
.line1{
    display: grid;
    justify-content: center;
    align-items: center; 
}
.line2{
    display: flex;
    justify-content: center;
    align-items: normal; 
}
.line3{
    display: grid;
    justify-content: center;
    align-items: center; 
}
.line4{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.line5{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.line6{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 5px;
}
hr{
    width: 500px;
    justify-content: center;
}
.full-name{
    margin-bottom: 5px;
}
.username{
    margin-bottom: 5px;
}
.address1{
    margin-bottom: 5px;
}
.address2{
    margin-bottom: 5px;
}
.city{
    margin-bottom: 5px;
}
.state{
    margin-bottom: 5px;
}
.country{
    margin-bottom: 5px;
}
.zip{
    margin-bottom: 5px;
}
.update{
    margin-bottom: 5px;
    margin-right: 196px
}
.account-text{
    margin-left: 30px;
    display: grid;
    justify-content: center;
    align-items: center; 
}
