<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>[[${account.accountName}]]</title>
    <link rel="stylesheet" href="/css/account.css">
</head>

<body>

    <div class="header">
        <div class="title-box">
            <div class="title">Fake Bank USA</div>
        </div>
        <a class="user-account" th:href="@{/users/{userId}(userId=${user.userId})}">User Account</a>
    </div>

    <h1>[[${account.accountName}]]</h1>
    <form action="" method="post">
        <div>
            Account Name: <input type="text" th:field="${account.accountName}" />
        </div>
        <div>
            <input type="submit" value="Save Account" />
        </div>
    </form>
    <form th:if="${account.accountId != null}" th:action="@{/users/{userId}/accounts/{accountId}/delete(userId=${user.userId}, 
                    accountId=${account.accountId})}" method="post">
        <input type="submit" value="Delete Account">
    </form>

</body>

</html>