<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Create Account</title>
	<link rel="stylesheet" href="/css/register.css">
</head>

<body>

	<div class="header">
		<div class="title-box">
			<div class="title">Fake Bank USA</div>
		</div>
		<a class="back" href="/users">Back</a>
	</div>

	<div class="container">
		<h1>Create Your Account</h1>
		<form action="" method="post">
			<div class="user-input">
				<div>
					<input type="text" th:field="${user.name}" placeholder="Enter Full Name *" />
				</div>
				<div>
					<input type="text" th:field="${user.username}" placeholder="Enter Userame *" />
				</div>
				<div>
					<input type="password" th:field="${user.password}" placeholder="Enter Password *" />
				</div>
				<div class="button">
					<input type="submit" value="Create Account" />
				</div>
			</div>
		</form>
	</div>
</body>

</html>