<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>[[${user.name}]]</title>
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>

    <div class="header">
        <div class="title-box">
            <div class="title">Fake Bank USA</div>
        </div>
        <a class="back" href="/users">Back</a>
    </div>

    <div class="user-text">
        <h1>Welcome [[${user.name}]]</h1>
        <form action="" method="post">
            <div>
                User ID: [[${user.userId}]]
            </div><br />
            <div class="full-name">
                Full Name: <input type="text" th:field="${user.name}" />
            </div>
            <div class="username">
                Username: <input type="text" th:field="${user.username}" />
            </div>
            <div>
                Password: <input type="text" th:field="${user.password}" />
            </div>
    </div><br />
    <hr /><br />
    <div class="address-text">
        <div class="address1">
            Address Line 1: <input type="text" th:field="${address.addressLine1}" />
        </div>
        <div class="address2">
            Address Line 2: <input type="text" th:field="${address.addressLine2}" />
        </div>
        <div class="city">
            City: <input type="text" th:field="${address.city}" />
        </div>
        <div class="state">
            State: <input type="text" th:field="${address.country}" />
        </div>
        <div class="country">
            Country: <input type="text" th:field="${address.state}" />
        </div>
        <div class="zip">
            Zip Code: <input type="text" th:field="${address.zipCode}" />
        </div>
        <div class="update">
            <input type="submit" value="Update User Account" />
        </div>
        </form>
        <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
            <input type="submit" value="Delete User Account" />
        </form><br />
    </div>
    <hr />
    <div class="account-text">
        <h3>Accounts</h3>
        <div th:each="account : ${user.accounts}">
            <a th:text="${account.accountName}" th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, 
                     accountId=${account.accountId})}"></a>
        </div><br />

        <form th:action="@{/users/{userId}/accounts/(userId=${user.userId})}" method="get">
            <input type="submit" value="Create New Bank Account" />
        </form><br />
    </div>
</body>

</html>