<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Users</title>
	<link rel="stylesheet" href="/css/users.css">
</head>

<body>

	<div class="header">
		<div class="title-box">
			<div class="title">Fake Bank USA</div>
		</div>
		<div class="register">
			<a class="register-link" href="/register">Register</a>
		</div>
	</div>

	<div class="box">
		<div th:each="user : ${users}">
			<div class="user-info">
				<b>Full Name:</b> <span th:inline="text">
					<a th:href="@{/users/{userId}(userId=${user.userId})}">[[${user.name}]]</a>
				</span><br />
				<b>Username:</b> <span th:text="${user.username}"></span><br />
				<b>Password:</b> <span th:text="${user.password}"></span><br />
				<b>Accounts:</b>
				<div th:each="account : ${user.accounts}">
					<span style="margin-left: 70px;" th:text="${account.accountName}"></span>
				</div>

			</div>
		</div>
	</div>
	
</body>

</html>